<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
        https://www.springframework.org/schema/util/spring-util.xsd">


    <context:component-scan base-package="org.example"/>
    <bean id="grades" class="org.example.bean.Grades" >
        <property name="chinese" value="80"/>
        <property name="math" value="60"/>
        <property name="english" value="55"/>
        <property name="geography" value="50"/>
    </bean>
    <bean id="redA" class="org.example.bean.Card">
        <property name="type" value="A"/>
        <property name="color" value="red"/>
    </bean>
    <bean id="redB" class="org.example.bean.Card">
        <property name="type" value="B"/>
        <property name="color" value="red"/>
    </bean>
    <bean id="blueA" class="org.example.bean.Card">
        <property name="type" value="A"/>
        <property name="color" value="blue"/>
    </bean>
    <bean id="blueB" class="org.example.bean.Card">
        <property name="type" value="B"/>
        <property name="color" value="blue"/>
    </bean>
    <bean id="random" class="java.util.Random" scope="prototype"/>
    <util:list id="studentList">
        <bean class="org.example.bean.Student">
            <property name="name" value="张三"/>
            <property name="gender" value="男"/>
            <property name="card" ref="redA"/>
            <property name="grades" ref="grades"/>
        </bean>
        <bean class="org.example.bean.Student">
            <property name="name" value="李四"/>
            <property name="gender" value="女"/>
            <property name="card" ref="blueB"/>

        </bean>
        <bean class="org.example.bean.Student">
            <property name="name" value="王五"/>
            <property name="gender" value="男"/>
            <property name="card" ref="redB"/>
        </bean>
        <bean class="org.example.bean.Student">
            <property name="name" value="赵六"/>
            <property name="gender" value="女"/>
            <property name="card" ref="blueA"/>
        </bean>
    </util:list>

</beans>